<section>
   
</div>
<div class="container bd-blog">
   <div class="row mt-50">
      <div class="col-xl-4 col-lg-4 col-sm-12 col-md-6 mb-2-6"  v-for="product in products" :key="product.id">
         <article class="card card-style2">
          <div class="card-img">
             <img
              class="rounded-top"
              src="https://picsum.photos/seed/picsum/200/300"
              alt="..."
              
            />
          </div>
          <div class="card-body">
             <h3 class="h5">
                <a href="#">{{product.title}}</a>
               </h3>
               <span>{{product.desc}}</span>
               <div class="date"><span>15</span>Sep</div>
               <a href="#!" class="read-more">read more</a>
            </div>
         </article>
      </div>
   </div>
</div>
</section>
<div>
  <h1>Hello</h1>

    <div>
        <h2 class="text-center">Products List</h2>
 
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Detail</th>
                <!-- <th>Actions</th> -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.desc }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: product.id }}" class="btn btn-success">Edit</router-link>
                        <button class="btn btn-danger" @click="deleteProduct(product.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
