
  <div class="dashboard">
    <!--______________ LEFT MAIN ______________ -->
    <div class="left-main">
      <div class="up">
        <div class="image-wrapper">
          <ion-icon name="logo-web-component"></ion-icon>
        </div>
        <div class="quit">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
      </div>
      <div class="left-bar">
        <ul>
          <li><ion-icon name="chatbox-outline"></ion-icon></li>
          <li><ion-icon name="file-tray-stacked-outline"></ion-icon></li>
          <li><ion-icon name="chatbox-ellipses-outline"></ion-icon></li>
          <li><ion-icon name="exit-outline"></ion-icon></li>
        </ul>
      </div>
    </div>

    <!--______________ MAIN ______________ -->

    <div class="main">
      <nav>
        <div class="left-container">
          <div class="dashboard-box">
            <h2>Dashboard</h2>
          </div>
          <div class="support-messaging-box">
            <h2>Support Messaging</h2>
          </div>
        </div>

        <div class="search">
          <ion-icon name="search-outline"></ion-icon>
          <input type="search" name="" id="" placeholder="Search on" />
        </div>

        <div class="print-export">
          <div class="print-box">
            <ion-icon name="print-outline"></ion-icon>
            <h1>PRINT</h1>
          </div>
          <div class="export-box">
            <ion-icon name="exit-outline"></ion-icon>
            <h1>EXPORT</h1>
          </div>
        </div>
      </nav>

      <div class="title">
        <h1>MAV FARM SUPPORT MESSAGIN</h1>
      </div>
      <div class="subtext">
        <h2>Use Your Reset Button To Change Your Vibration</h2>
        <div class="right-bar-time-search">
          <div class="time">
            <ion-icon name="time-outline"></ion-icon>
            <h1>ANY TIME</h1>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>

          <div class="subtext-search">
            <ion-icon name="search-outline"></ion-icon>
            <h1>SEARCH</h1>
          </div>
        </div>
      </div>
    </div>

    <!--______________ RIGHT MAIN ______________ -->
    <div class="right-main">
      <div class="user-container">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <div class="ticket">
        <ion-icon name="ticket-outline"></ion-icon>
        <h1>Create Ticket</h1>
      </div>

      <div class="notifications">
        <div class="notification-box">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <div class="message-bx">
          <div class="circle-ok"></div>
          <ion-icon name="chatbox-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>


